[Desktop Entry]
Categories=Favourite;GNOME;GTK;Network;WebBrowser;
Comment=Browse the World Wide Web
DBusActivatable=false
Exec=/usr/lib/firefox/firefox %u
GenericName=Web Browser
Icon=firefox
Keywords=Internet;WWW;Browser;Web;Explorer;
MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/x-xpinstall;application/xhtml+xml;application/xml;audio/flac;audio/ogg;audio/webm;image/avif;image/gif;image/jpeg;image/png;image/svg+xml;image/webp;text/html;text/xml;video/ogg;video/webm;x-scheme-handler/chrome;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
Name=Firefox
StartupNotify=true
StartupWMClass=firefox
Terminal=false
Type=Application
Version=1.0
X-GNOME-FullName=Firefox Web Browser
X-MultipleArgs=false
