[Desktop Entry]
Categories=Favourite;Audio;Music;Player;AudioVideo;
Exec=spotify-launcher %U
GenericName=Music Player
Icon=spotify-launcher
MimeType=x-scheme-handler/spotify;
Name=Spotify
StartupWMClass=spotify
Terminal=false
TryExec=spotify-launcher
Type=Application
