[Desktop Entry]
Categories=Favourite;Network;WebBrowser;
Exec=bash -c "$HOME/.local/bin/brave_smart_open https://x.com/home"
GenericName=Web Browser
Icon=x
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Name=X
StartupNotify=true
StartupWMClass=brave-browser
Terminal=false
TryExec=brave
Type=Application
Version=1.0
